@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    background-color: #272727;
}


.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    overflow: hidden;
} 

h1{
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;                                       
    color: #0594fb;
    font-size: 6rem;
    height: 0px;
}

h1:hover{
    color: #6cbfff;
}

table{
    border-collapse: collapse;
    text-align: center;
}

.mesh{
    max-width: 400px;
}


.des{
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
    color:#9b9b9b;
    text-align: left;
}

.footer{
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
    color: #dce5e8;
    padding: 10px;
    background-color: #424242;
    border-radius: 5px;
}

.footer a{
    text-decoration: none;
    color: #dce5e8;
}

.footer a:hover{
    text-decoration: none;
    color: bisque;
}
.footer:hover{
    color: bisque;
}
